swagger: "2.0"
info:
  description: ""
  version: "1.0.0"
  title: "Ponder App API"
host: "spritzr2-dev.herokuapp.com"
basePath: "/api/v1.0"

schemes:
- "http"

paths:
  /game/dailymatches/:
    get:
      tags: 
      - "Game"
      summary: "Get daily 5 results for a given user"
      produces: 
      - "application/json"
      parameters: 
      - in: "body"
        name: "device_token"
        schema: 
          $ref: "#/definitions/DeviceParam"
          
      responses:
        200:
          description: "successful operation"
          schema:
            #type: "object"
            items:
              $ref: "#/definitions/DatersList"
    post:
      summary: "Pick a daily match"
      parameters:
      - in: "body"
        name: "device_token"
        schema:
          $ref: "#/definitions/DeviceParam"
      responses:
        200:
          description: "successful operation (success and message fields contain the details)"
          schema:
            items:
              $ref: "#/definitions/SimpleOperation"

  /game/matchesmade/:
    get:
      tags:
      - "Game"
      summary: "Get all the matches made for others"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "device_token"
        schema:
          $ref: "#/definitions/DeviceParam"
      responses:
        200:
          description: "successful operation"
          schema:
            items:
              $ref: "#/definitions/MatchesMade"


definitions:
  SimpleOperation:
    type: "object"
    properties:
      success:
        type: "boolean"
      message:
        type: "string"
        description: "If success is false, this message could be displayed to user as the reason why the action was not performed."
      
  DeviceParam:
    type: "object"
    properties:
      device_token:
        type: "string"

  Photo:
    type: "object"
    properties:
      id:
        type: "integer"
      image:
        type: "string"
      display_order:
        type: "integer"
      flag_count:
        type: "integer"
        
  Dater:
    type: "object"
    properties:
      name:
        type: "string"
      username:
        type: "string"
      gender:
        type: "string"
        enum:
        - "f"
        - "m"
      gender_interst:
        type: "string"
        enum:
        - "f"
        - "m"
        - "o"
      date_of_birth:
        type: "string"
      in_common:
        type: "string"
      city:
        type: "string"
      state:
        type: "string"
      zip_code:
        type: "string"
      lat:
        type: "integer"
      lng:
        type: "integer"
      kids:
        type: "string"
        description: "This will be replaced by a new parameter soon (have_kids: y/n)"
      photos:
        type: "array"
        items:
          $ref: "#/definitions/Photo"
        
  DatersList:
    type: "object"
    properties:
      num_matches:
        type: "integer"
      possible_matches:
        type: "array"
        items:
          $ref: "#/definitions/Dater" 
        
  DaterMinimalWithThumb:
    type: "object"
    properties:
      account_id:
        type: "integer"
      name:
        type: "string"
      thumbnail:
        type: "object"
        $ref: "#/definitions/Photo"
  
  MatchesMadeGroup:
    type: "object"
    properties:
      redeemed:
        type: "integer"
      matches:
        type: "array"
        description: "Each item in this list correlates with a dater."
        items: 
          $ref: "#/definitions/DaterMinimalWithThumb"
          
  MatchesMade:
    type: "object"
    properties:
      num_matches:
        type: "integer"
      num_groups:
        type: "integer"
      groups:
        type: "array"
        items:
          $ref: "#/definitions/MatchesMadeGroup"